.container{
	width: 300px;
	background: #aaa;
	margin-top: 50px;
}

#calculator{
	padding: 15px;
}

.display{
	background: #ddd;
	margin: 10px 0;
	text-align: right;
	font-size: 30px;
	padding: 8px;
}

.btn-custom{
	width: 90%;
	margin-top: 7px;
	font-size: 16px;
}